.contenedorprin{
    background-color: #016E94;
}
.contenedorex{
    background-color: #016E94;
}.numero1{
    background-color: #016E94;
}.numero2{
    background-color: #016E94;
}.numero3{
    background-color: #016E94;
}.numero4{
    background-color: #016E94;
}.contenedorfin1{
    background-color: #016E94;
}.contenedorfin2{
    background-color: #016E94;
}